@model PlivanjeWeb.Models.RecordsViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Popis rekorda</h2>

<hr />

<h3>Muški:</h3>
<table class="table table-hover">
    <thead style="border-bottom:solid; border-bottom-color:darkgray">
        <tr style="border-bottom: none">
            <th class="col-xs-4" style="border-bottom: none">
                Ime
            </th>
            <th class="col-xs-4" style="border-bottom: none">
                Prezime
            </th>
            <th class="col-xs-4" style="border-bottom: none">
                Godina rođenja
            </th>
            <th class="col-xs-4" style="border-bottom: none">
                Kategorija
            </th>
            <th class="col-xs-4" style="border-bottom: none">
                Duljina
            </th>
            <th class="col-xs-4" style="border-bottom: none">
                Mjesto i datum
            </th>
            <th class="col-xs-4" style="border-bottom: none">
                Vrijeme
            </th>
            <th class="col-xs-1" style="border-bottom: none;text-align: right">
            </th>
        </tr>
    </thead>
    @if (Model != null)
    {
        foreach (var item in Model.man)
        {
            <tr class="table-hover">
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.DateOfBirth.
                </td>
                <td>
                    @item.Category
                </td>
                <td>
                    @item.Length
                </td>
                <td>
                    @item.Place @item.Date.Date.ToShortDateString()
                </td>
                <td>
                    @item.RaceTime.TimeOfDay
                </td>

            </tr>
        }
    }
</table>

<h3>Ženski:</h3>
<table class="table table-hover">
    <thead style="border-bottom:solid; border-bottom-color:darkgray">
        <tr style="border-bottom: none">
            <th class="col-xs-4" style="border-bottom: none">
                Ime
            </th>
            <th class="col-xs-4" style="border-bottom: none">
                Prezime
            </th>
            <th class="col-xs-4" style="border-bottom: none">
                Godina rođenja
            </th>
            <th class="col-xs-4" style="border-bottom: none">
                Kategorija
            </th>
            <th class="col-xs-4" style="border-bottom: none">
                Duljina
            </th>
            <th class="col-xs-4" style="border-bottom: none">
                Mjesto i datum
            </th>
            <th class="col-xs-4" style="border-bottom: none">
                Vrijeme
            </th>
            <th class="col-xs-1" style="border-bottom: none;text-align: right">
            </th>
        </tr>
    </thead>
    @if (Model != null)
    {
        foreach (var item in Model.women)
        {
            <tr class="table-hover">
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.DateOfBirth.
                </td>
                <td>
                    @item.Category
                </td>
                <td>
                    @item.Length
                </td>
                <td>
                    @item.Place @item.Date.Date.ToShortDateString()
                </td>
                <td>
                    @item.RaceTime.TimeOfDay
                </td>

            </tr>
        }
    }
</table>
