@model IEnumerable<PlivanjeWeb.Models.SwimmerViewModel>
@{
    ViewBag.Title = "ListOnlyView";
}

<h2>Popis svih plivača</h2>
<hr />
<form asp-controller="Swimmer" asp-action="Index" method="get">
    <div class="form-actions">
        <p>
            Klub: @Html.DropDownList("klub", "Svi")
            Kategorija: @Html.DropDownList("kategorija","Sve")
            <button type="submit" value="Pretraži" class="btn btn-info">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
            @Html.ActionLink("Natrag na punu listu", "Index", new { @class = "btn btn-primary" })
        </p>
       

    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>

                Ime

            </th>

            <th>

                Prezime

            </th>
            <th>

                Spol

            </th>
            <th>

                Datum rođenja
            </th>
            <th>

                Licenca

            </th>
            <th>

            </th>

    </thead>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @item.dateOfBirth.ToShortDateString()
            </td>
            @if (item.licenceValid == true)
            {

                <td>
                    važeća
                </td>
            }
            else
            {
                <td>
                    nevažeća
                </td>
            }
                <td>

                    <a href="@Url.Action("Details", "Swimmer",new { @id=item.Id})" class="btn btn-info">Detalji <span class="glyphicon glyphicon-user"></span></a>

                </td>

        </tr>

    }




</table>

@section scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
    
}

