@model PlivanjeWeb.Models.RaceViewModel

@{
    ViewBag.Title = "Details";
    var gr = TempData["Error"];
    var msgErr = "";
    if (gr != null)
    {
        msgErr = gr.ToString();
    }
}

@if (!string.IsNullOrWhiteSpace(msgErr))
{
    <div class="alert alert-danger alert alert-dismissible" role="alert" id="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        @msgErr
    </div>
}
@{
    ViewBag.Title = "CreateRace";
}
<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
</head>


<h2>Dodaj novu trku</h2>


@using (Html.BeginForm("CreateRace", "Competition", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="col-md-12">
                        <table class="table table-borderless" style="border-top: none">
                            <tr>
                                <td align="right" class="col-xs-2" style="border-top: none"><b>Datum održavanja:</b></td>
                                <td align="left" class="col-xs-2" style="border-top: none">
                                    @Html.HiddenFor(model => model.Id)

                                    @Html.EditorFor(model => model.TimeStart, new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
                                </td>

                                <td align="left" class="col-xs-4" style="border-top: none"></td>
                            </tr>
                            <tr>
                                <td align="right" class="col-xs-2" style="border-top: none"><b>Vrijeme početka:</b></td>
                                <td align="left" class="col-xs-2" style="border-top: none">

                                    @Html.EditorFor(model => model.start, new { htmlAttributes = new { @class = "form-control", @id = "timepicker" } })
                                </td>
                                <td align="right" class="col-xs-2" style="border-top: none"><b>Vrijeme završetka:</b></td>
                                <td align="left" class="col-xs-2" style="border-top: none">
                                    @Html.EditorFor(model => model.finish, new { htmlAttributes = new { @class = "form-control", @id = "timepicker2" } })
                                </td>
                                <td align="left" class="col-xs-4" style="border-top: none"></td>

                            </tr>
                            <tr>
                                <td align="right" class="col-xs-2" style="border-top: none"><b>Duljina:</b></td>
                                <td align="left" class="col-xs-2" style="border-top: none">
                                    @Html.DropDownListFor(model => model.lenghtId, new SelectList(ViewBag.len, "Id", "Len"))
                                </td>
                                <td align="right" class="col-xs-2" style="border-top: none"><b>Stil:</b></td>
                                <td align="left" class="col-xs-2" style="border-top: none">
                                    @Html.DropDownListFor(model => model.sytleId, new SelectList(ViewBag.styles, "Id", "Name"))
                                </td>
                            </tr>
                            <tr>
                                <td align="right" class="col-xs-2" style="border-top: none"><b>Kategorija:</b></td>
                                <td align="left" class="col-xs-2" style="border-top: none">
                                    @Html.DropDownListFor(model => model.categoryId, new SelectList(ViewBag.categories, "Id", "Name"))
                                <td align="right" class="col-xs-2" style="border-top: none"><b>Bazen:</b></td>
                                <td align="left" class="col-xs-2" style="border-top: none">
                                    @Html.DropDownListFor(model => model.poolId, new SelectList(ViewBag.pools, "Id", "Length"))
                                </td>

                                <td align="right" class="col-xs-2" style="border-top: none"><b>Sudac:</b></td>
                                <td align="left" class="col-xs-2" style="border-top: none">
                                    @Html.DropDownListFor(model => model.RefereeId, new SelectList(ViewBag.referees, "Id", "LastName"))
                                </td>


                                <td align="right" class="col-xs-4" style="border-top: none"></td>

                            </tr>
                            <tr>
                                <td align="right" class="col-xs-2" style="border-top: none"><b>Spol:</b></td>
                                <td align="left" class="col-xs-2" style="border-top: none">
                                    M @Html.RadioButtonFor(model => model.Gender, "M") Ž @Html.RadioButtonFor(model => model.Gender, "Ž")
                                </td>
                                <td align="right" class="col-xs-4" style="border-top: none"></td>
                            </tr>

                            <tr>
                                <td style="border-top:none" />
                            </tr>
                        </table>
                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-xs-12" align="right">
                                    <input type="submit" value="Dodaj" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <br />


}

<div>
    @Html.ActionLink("Povratak na popis", "Index")
</div>

@section scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>
    *@
    <script>
        jQuery(function ($) {
            $("#datepicker").datepicker({ dateFormat: 'dd-mm-yy' }).val('');
        });
        $(function () {
            $("#datepicker2").datepicker({ dateFormat: 'dd-mm-yy' }).val('');
        });

        $('#timepicker').timepicker();
        $('#timepicker2').timepicker();
    </script>

    <script>
        setTimeout(function () {
            $("#alert").fadeOut().empty();
        }, 5000);
    </script>


}


