@model IEnumerable<PlivanjeWeb.Models.CompetitionViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Popis svih natjecanja</h2>

<hr />
@if (Session["role"] != null && (int)Session["role"] == 1) {
    @Html.ActionLink("Dodaj novo natjecanje", "Create", new object { }, new { @class = "btn btn-primary" })
 }
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Ime natjecanje
            </th>

            <th>

               Početak

            </th>
            <th>
                Kraj
            </th>
            <th>
                Mjesto održavanja
            </th>
            <th>
                Status
            </th>


    </thead>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @item.Name
            </td>
            <td>
                @item.TimeStart.ToShortDateString()
            </td>

            <td>
                @item.TimeEnd.ToShortDateString()
            </td>
            <td>
                @item.HallName
            </td>
            <td><b>@item.status</b></td>
            
           
            <td>
                
                @Html.ActionLink("Detalji", "Details", new { id = item.Id }, new { @class = "btn btn-info" })  
                
            </td>
        </tr>

    }




</table>



