@model IEnumerable<PlivanjeWeb.Models.SwimmerViewModel>
@{
    ViewBag.Title = "Registriraj postojećeg plivača u svoj klub";
}
<h2>@ViewBag.Title</h2>
<hr />
<br />


    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Id plivača
                </th>
                <th>
                    Ime
                </th>
                <th>
                    Prezime
                </th>
                <th>
                    Datum rođenja
                </th>
                <th>
                    Spol
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
           
                @foreach (var item in Model)
                {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @item.dateOfBirth.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
               
                <td style="width: 1%;white-space: nowrap;">
                    <a class="btn btn-success btn-sm" href="@Url.Action( "AddSwimmerToClubPost", new { id = item.Id })">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        Dodaj plivača u klub
                    </a>
                </td>
            </tr>
                }
            
        </tbody>
    </table>

