@model PlivanjeWeb.Models.ClubViewModel

<h2>Moj klub:</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="col-md-12">
                    <table class="table table-borderless" style="border-top: none">
                        <tr>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Id kluba:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Model.Id
                            </td>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Ime kluba:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Model.Name
                            </td>
                            <td align="left" class="col-xs-4" style="border-top: none"></td>
                        </tr>

                        <tr>
                            <td align="right" class="col-xs-2" style="border-top: none"><b>Adresa:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Model.Address
                            </td>

                            <td align="right" class="col-xs-2" style="border-top: none"><b>Mjesto:</b></td>
                            <td align="left" class="col-xs-2" style="border-top: none">
                                @Model.Place
                            </td>
                            <td align="right" class="col-xs-4" style="border-top: none"></td>

                        </tr>


                        <tr>
                            <td style="border-top:none" />
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<h3>Plivači:</h3>
@Html.ActionLink("Dodaj novog plivača u svoj klub", "Create", "Swimmer", new object { }, new { @class = "btn btn-primary" })
@Html.ActionLink("Dodaj postojećeg plivača u svoj klub", "AddSwimmerToClub", "Club", new object { }, new { @class = "btn btn-primary" })
<hr />

@if (Model.swimmers != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Ime plivača
                </th>

                <th>
                    Prezime plivača
                </th>
                <th>
                    Spol
                </th>
                <th>
                    Datum rođenja
                </th>
                <th>
                    Licenca
                </th>
        </thead>
        @foreach (var item in Model.swimmers)
        {





            <tr>

                <td>
                    @item.firstName
                </td>
                <td>
                    @item.lastName
                </td>

                <td>
                    @item.gender
                </td>
                <td>
                    @item.dateOfBirth.Date.Date
                </td>
                @if (item.licenceValid == true)
                {

                    <td>
                        važeća
                    </td>
                }
                else
                {
                    <td style="width: 1%;white-space: nowrap;">
                        <button class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            @Html.ActionLink("Licenciraj", "Edit", "Swimmer", new { id = item.Id }, null)
                        </button>
                    </td>
                }
                <td style="width: 1%;white-space: nowrap;">
                    <button class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        @Html.ActionLink("Makni iz kluba", "DeleteSwimmerFromClub", "Club", new { id = item.Id }, null)
                    </button>
                </td>
            </tr>




        }
    </table>

}

<div>
    @Html.ActionLink("Povratak na popis", "Index")
</div>

