@model IEnumerable<PlivanjeWebApp.Models.CompetitionViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Popis svih natjecanja</h2>

<hr />

@Html.ActionLink("Dodaj novo natjecanje","Create", new object { }, new { @class = "btn btn-primary" })
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Ime natjecanje
            </th>

            <th>

               Početak

            </th>
            <th>
                Kraj
            </th>
            <th>
                Mjesto održavanja
            </th>


    </thead>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStart)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TimeEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HallName)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id}) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })  |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>

    }




</table>



